* {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.table_container {
  width: 90%;
  height: auto;
  background-color: rgb(32, 146, 245);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.e_details {
  color: aliceblue;
  padding: 5px;
  margin-left: 15px;
}
.table_source {
  border: 1px black solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 90%;
  height: auto;
}
.source_search {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.details_source {
  margin-left: 15px;
  padding: 20px;
}
.source_input1 {
  height: 25px;
  text-align: start;
  margin-top: 2px;
  margin-top: 10px;
}
.source_input2 {
  height: 25px;
  text-align: start;
  margin-left: 2px;
  margin-top: 10px;
}
.table_source2 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
#table_responce {
  color: aliceblue;
  width: 85%;
}
tr th {
  background-color: rgb(32, 146, 245);
}
td {
  border: 1px solid black;
}
@media only screen and (max-width: 600px) {
  .details_source {
    display: inline;
    font-size: small;
  }
  table{
    font-size: 12px;  
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    table{
        font-size: 15px;  
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    table{
        font-size: 16px;  
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
